<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        {% if carrousels.count = 3 %}
            {% for carrousel in carrousels %}
                <div class="item {% if carrousel.slide_active %} active{% endif %}">
                    <img class="{{ carrousel.get_order_slide_display }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ carrousel.carrousel_title }}">    
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>{{ carrousel.carrousel_title }}</h1>
                            <p>
                                {{ carrousel.carrousel_substitle }}
                            </p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Fazer meu pedido!</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% include "emptyCarrousel.html" %}               
        {% endif %}
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>