 <div class="item  active">
    <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="O bolo ideal para sua festa!">    
    <div class="container">
        <div class="carousel-caption">
            <h1>VOCE PRECISA INSERIR 3 ITENS TITULO!</h1>
            <p>
                VOCE PRECISA INSERIR 3 ITENS SUBSTITULO
            </p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Fazer meu pedido!</a></p>
        </div>
    </div>
</div>

<div class="item ">
    <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Monte seu bolo">    
    <div class="container">
        <div class="carousel-caption">
            <h1>VOCE PRECISA INSERIR 3 ITENS TITULO!</h1>
            <p>
                VOCE PRECISA INSERIR 3 ITENS SUBSTITULO
            </p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Fazer meu pedido!</a></p>
        </div>
    </div>
</div>

<div class="item ">
    <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Descubra vários sabores.">    
    <div class="container">
        <div class="carousel-caption">
            <h1>VOCE PRECISA INSERIR 3 ITENS TITULO!</h1>
            <p>
                VOCE PRECISA INSERIR 3 ITENS SUBSTITULO
            </p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Fazer meu pedido!</a></p>
        </div>
    </div>
</div>