{% extends "base.html" %}

{% load cloudinary %}

{% block content%}

<h2>{{ title }}</h2>
<p class="text-muted">Estamos melhorando as imagens e exibição. Em breve permitirá zoom nas fotos!</p>

<div class="row">
    {% for cake in cakes %}
        <div class="col-sm-4 col-md-4">
            <div class="thumbnail">
                {% cloudinary cake.image width=340 height=200 crop="fill" %}    
                <div class="caption">
                    <h3>{{ cake.product.product_name }}</h3>
                    <p>{{ cake.description }}</p>
                    <p><a href="{% url 'product' pk=cake.pk %}">{{ cake.product.product_name }}</a></p>
                </div>
            </div>
        </div>
    {% empty %}
        <h1>Desculpe, não temos nenhum bolo cadastrado no momento.</h1>
    {% endfor %}            
</div>
{% endblock %}