{% extends "base.html" %}

{% block content%}

<h2>{{ title }}</h2>
<p class="text-muted">Estamos melhorando as imagens e exibição. Em breve permitirá zoom nas fotos!</p>
<!-- Linha 1 -->
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="/static/images/bolos/bolo1.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário com nome</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="/static/images/bolos/barbie.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário foto</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloAniversario2.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Noivado com flor</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
</div>

<!-- Linha 2 -->
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloAniversario3.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário com nome</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloCasamento.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário foto</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloChaBebe.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Noivado com flor</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
</div>

<!-- Linha 3 -->
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloChaIsaac.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário com nome</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloChocolateCereja.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário foto</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloChocolateRedondo.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Noivado com flor</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
</div>

<!-- Linha 4 -->
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloflor1.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário com nome</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloFlorRoxo.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário foto</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloMorango1.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Noivado com flor</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
</div>

<!-- Linha 5 -->
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloMorangoRaspa.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário com nome</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/BoloNoiva.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário foto</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloRaspa.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Noivado com flor</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
</div>

<!-- Linha 6 -->
<div class="row">
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/BoloSogra.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário com nome</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/bolosophia.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Anivserário foto</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
    <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
            <img src="../../static/images/bolos/boloTaca.jpg" alt="bolo qualquer">
            <div class="caption">
                <h3>Bolo Noivado com flor</h3>
                <p>Escolha uma decoração e escreva o nome</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}