{% extends "base.html" %}

{% block styles %}
<style type="text/css">
    #map {
        height: 50%;
    }
</style>
{% endblock %}

{% block content %}

<h2>{{ title }}.</h2>
<div class="row">
    <div class="col-md-6">
        <address>
            Rua Professora Analia Alves Teixeira, 2661 <br />
            Bairro: Jardim Tropical <br />
            CEP: 14407-065 <br />
            Franca - SP <br />
            <abbr title="Phone">Telefone:</abbr>
            (16) 3403-1607
        </address>
    </div>
    <div class="col-md-6">
        <div id="map"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {% if form.errors %}
            <div class="alert alert-danger">
                Por favor, corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo:
            </div>
        {% endif%}

        {% if send %}
            <div class="alert alert-success alert-dismissable">
                E-mail enviado com sucesso! Em breve entramos em contato!
            </div>
        {% endif %}
        
        <form action="/contato/" method="POST">
            {% csrf_token %}
            <div class="form-horizontal">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        <span class="help-block">{{ field.errors.as_text }}</span>
                    </div>
                {% endfor %}
                <div class="col-md-offset-3 col-md-10 lead">
                    <button type="submit" class="btn btn-primary">Enviar menssagem</button>
                </div>
            </div>
        </form>
    </div>
</div>

<address>
    <strong>Marketing:</strong>   <a href="mailto:bolosdacleo@gmail.com">bolosdacleo@gmail.com</a><br />
    <strong>Suporte:</strong>   <a href="mailto:leonardo.ncintra@outlook.com">leonardo.ncintra@outlook.com</a><br />
</address>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -20.50681, lng: -47.41827 },
            zoom: 17
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv-WlGdY7FuYsoYMCeO2Bb7DD_BJljqiQ&callback=initMap"
        async defer></script>
{% endblock %}
