<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Bolos da Cleo</title>

  {% load static %}

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static '/materialize/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static '/materialize/css/index.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  
  <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
</head>
<body>

  <nav class="pink lighten-3" role="navigation">
    {% include "includes/navHeader.html" %}
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center">Bolos e Biscoitos da Cleo</h1>
        <div class="row center">
          <h5 class="header col s12 light">Deliciosos bolos caseiros para anverśarios, noivados, etc</h5>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="http://res.cloudinary.com/cleonice/image/upload/v1456271752/jze5qah2z4nfq3ycwesf.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">cake</i></h2>
            <h5 class="center">Especialista</h5>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Compromisso</h5>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text"><i class="material-icons">watch_later</i></h2>
            <h5 class="center">Sem atrasos</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
            <span class="card-title">Bolos</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Fazemos vários tipos de bolos, confira:
              <li>Aniversários</li>
              <li>Noivados</li>
              <li>Batizados</li>
              <li>Casamentos</li>
              <li>etc</li>
            </p>
          </div>
        </div>
      </div>
       <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <img src="http://materializecss.com/images/sample-1.jpg">
            <span class="card-title">Biscoitos</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Também fabricamos biscoitos! Confira!
              <li>Apimentados</li>
              <li>Polvilhos</li>
              <li>Para padarias</li>
              <li>Para supermercados</li>
              <li>etc</li>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 red-text"> Feito com amor e carinho <i class="material-icons">favorite</i> </h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://res.cloudinary.com/cleonice/image/upload/v1456271783/w3bwrwj8u36dby4k214w.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Faça sua emcomenda!</h4>
          <p class="center light">Ligue agora e solicite seu bolo. Veja nosso catalogo para ajudar na escolha.</p>
          {% include "includes/indexCarrousel.html" %}
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Diversos modelos, sabores, tipos etc para você escolher <i class="material-icons">extension</i></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://res.cloudinary.com/cleonice/image/upload/v1456271768/mw9jopss9j2c6rljkm5s.jpg" alt="Unsplashed background img 3"></div>
  </div>

  {% include "includes/footer.html" %}


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static '/materialize/js/materialize.js' %}"></script>
  <script>
      (function($){

        $(document).ready(function(){
          $('.carousel').carousel();
        });

        $(function(){

            $('.button-collapse').sideNav();
            $('.parallax').parallax();

        }); // end of document ready
      })(jQuery); // end of jQuery name space
  </script>

  </body>
</html>
