{% extends "base.html" %}

{% load pagination %}

{% block title %}
    {{ current_category }} | {{ block.super}}
{% endblock %}
{% block corHeader %} deep-orange {% endblock corHeader %}

{% block content %}
    <div class="container">
        <h2 class="green-text text-accent-3"></a><small>Categoria: </small> {{ current_category.name }}</h2>
    </div>
    <div class="row">
        {% for product in product_list %}
            {% include "catalog/_product.html" %}
        {% endfor %}
    </div>

    <div class="container">
        {% pagination request paginator page_obj %}
    </div>
{% endblock content %}